
.content-text,
.heading-text {
    font-family: helvetica, arial, sans-serif;
}

.content-text {
    font-size: 14px;
    color: #7d7d7d;
    background-color: #f0f0f0;
}

.heading-text {
    background-color: #393b40;
    color: white;
}